*, *:before, *:after {box-sizing: border-box; -moz-box-sizing: border-box;} *:before, *:after { position: absolute; }

html, body { font-family: Open Sans, Arial; font-size:1em; line-height:1.4; height:100%; margin:0 auto; }

body{ overflow-x:hidden; background: url(images/mainbg.jpg) repeat center top #fff; }

a{ text-decoration:none; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; }

textarea { resize:vertical; }

ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }

.clearfix:before, .clearfix:after { content:""; display: table; }
.clearfix:after { clear: both; }
.clearfix { clear: both; overflow: hidden; }

.comp{ color:#0a69c0; font-weight:bold; }
.comingsoon{color:red; font-style:italic; font-weight:bold; }
.fleft{ float:left; }
img{ max-width: 100%; }
.fright{ float:right; }
.fleft-img{ float:left; margin: -4px 5px 0px -8px; }
.fright-img{ float:right; margin: 8px 0 0 20px; }
.wrapper{ width:100%; max-width: 980px; margin:0 auto; position:relative; }
.aligncenter{ text-align: center; display: block; margin: 0 auto; }

.col_2{ column-count:2; -webkit-column-count:2; -moz-column-count:2; }
.col_3{ column-count:3; -webkit-column-count:3; -moz-column-count:3; }

a[href^=tel]{ color: inherit; text-decoration: none; }

@font-face {
font-family: 'palatino';
src: url('fonts/palab0.eot');
src: url('fonts/palab0.eot?#iefix') format('embedded-opentype'),
url('fonts/palab0.woff') format('woff'),
url('fonts/palab0.ttf') format('truetype'),
url('fonts/palab0.svg#palab0') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'palatinoI';
src: url('fonts/palabi_0.eot');
src: url('fonts/palab0.eot?#iefix') format('embedded-opentype'),
	 url('fonts/palabi_0.woff') format('woff'),
	 url('fonts/palabi_0.ttf') format('truetype'),
	 url('fonts/palabi_0.svg#palab0') format('svg');
font-weight: normal;
font-style: normal;
}

/* Header Area Config*/
#page-header{ background: url(images/navbg.jpg) repeat-x center top; position: relative; }

	.complogo{ position: absolute; left: 0; top: -2px; z-index: 9; }
	.socials{ position: absolute; right: 0; top: 55px; }
	.socials li{ display: inline-block; }

/* Navigation Area Config */
nav{ text-align: right; }
nav ul li{ text-align: center; display: inline-block; vertical-align: top; position: relative; }  
nav ul li:after{ content: url(images/nav-spacer.png); right: -4px; top: 0; } 
nav ul li a{ display: block; color: #fff; padding: 7px 15px; font-size: 13px; }
nav ul li a .dif {display: block;position: static;color: inherit;font-size: inherit;}
nav ul li:nth-child(1) a, nav ul li:nth-child(4) a, nav ul li:nth-child(2) a, nav ul li:nth-child(6) a, nav ul li:nth-child(7) a {padding-top: 15px;}
nav ul li a.lineheight{ line-height: 15px; padding-top: 8px; }
nav ul li a:hover, nav ul li.current-menu-item a{ color: #eddd2b!important; }

	/*+++++++++++++++++++ For Dropdown +++++++++++++++++++*/
	nav ul ul li:before { display: none; }
	nav ul li:hover > ul { display: block; visibility: visible; }
	nav ul ul { text-transform: capitalize; display: none; margin: 0; padding: 18px 18px 25px; position: absolute; top: 100%; left: -18px; z-index: 9999; width: 275px; background: #074492; }
	nav ul ul:before { content: ""; border-bottom: 8px solid #074492; border-left: 5px solid transparent; border-right: 5px solid transparent; top: -8px; left: 56px;}
	nav ul ul li{ display: block; width: 100%; margin: 0; z-index: 99; }
	nav ul ul li:after{ content:""; }
	nav ul ul li a { margin: 0; padding: 0; text-align: left; color: #fff; line-height: 25px; border-bottom: 1px solid #1169d8; }
	nav ul ul li > a:hover, nav ul ul li.current-menu-item > a{ color: #0cc6ff; }
	nav ul ul ul { left: 100%; top: 0; }
	nav ul ul ul:after { content: "" !important; }

/* Drop down icon */
nav li span{ position:absolute; font-size:12px; right:0; top:5px; z-index:9999; cursor:pointer; display:none; color:#fff; }

/* Navigation bar icon */
.nav-toggle-button{ width:100%; display:none; color:#fff; cursor:pointer; margin:0 auto; padding:10px 15px; text-align:right; }
.nav-toggle-button .fa{ display:block; }

/* Banner Area Config */
#banner{ margin-top: -50px; height: 578px; background: url(images/bannerbg.jpg) repeat-x center top; padding-top: 81px; position: relative; z-index: -1; }

	.slideshow{ position: relative; }
	.slide-con{ height: 443px; background: url(images/slidebg.png) no-repeat center top; position: relative; z-index: 9; padding: 43px 0 0; }
	.slideshow:before{ content: url(images/slidebe.png); left: 0; right: 0; text-align: center; bottom: -6px; z-index: 0; }

	.slogan{ position: absolute; left: 0; width: 100%; bottom: -53px; z-index: 99; background: rgba(0,0,0,0.4); color: #fff; font: bold italic 25px/25px open sans; text-align: center; padding: 15px 8px 12px; }

/* Middle Area Config */
#mid{ height: 187px; background: url(images/midbg.jpg) repeat-x; text-align: center; border-radius: 15px; margin: 14px auto 0; }
.mid-inner{ position: relative; }
#mid:before{ content: url(images/midbe2.png); left: 7px; top: -25px; z-index: -1; }
#mid:after{ content: url(images/midaft2.png); right: 7px; top: -25px; z-index: -1; }
.mid-inner:before{ content: url(images/midbe1.png); left: 0; top: -32px; z-index: 1; }
.mid-inner:after{ content: url(images/midaft1.png); right: 0; top: -32px; z-index: 1; }

	.midbox{ width: 285px; text-align: left; display: inline-block; vertical-align: top; padding: 18px 0 0 17px; position: relative; background: url(images/midbox.png) no-repeat center 6px; }
	.midbox h2{ font-weight: normal; font-size: 18px; color: #2e2217; position: relative; padding-left: 48px; line-height: 23px; }
	.midbox h2:before{ content: url(images/midico1.png); left: -3px; top: 5px; }
	.midbox h2 span{ display: block; font-family: palatino; font-size: 28px; color: #fcef5f; }
	.midbox p{ line-height: 17px; margin: 10px 0 8px; font-size: 13px; color: #fff; }
	.midbox a{ display: block; width: 111px; height: 25px; background: url(images/midtab.png) no-repeat center top; text-align: center; border-radius: 4px; font-size: 14px; font-weight: bold; color: #fcef5f; line-height: 24px; position: relative; z-index: 99; }
	.midbox a:hover{ background-position: center bottom; color: #2274c9; }

	.midbox:before{ content: url(images/midbe.png); right: -25px; bottom: -40px; }
	.midbox:after{ content: url(images/midaft.png); right: -24px; top: 0; }
	.midbox2{ margin: 0 39px; }
	.midbox2 h2:before{ content: url(images/midico2.png); left: -5px; top: 3px; }
	.midbox3 h2{ padding-left: 64px; }
	.midbox3 h2:before{ content: url(images/midico3.png); left: -3px; top: -3px; }
	.midbox3:before, .midbox3:after{ content: ""; }
	.midbox3 p{ padding-right: 20px; }

/* Main Content Area Config */
#main-wrapper{ padding: 17px 10px 20px; background: #fff; position: relative; border-radius: 15px; margin: 9px auto 14px; }
#main-wrapper:before{ content: url(images/mainbe.png); left: 0; top: -28px; }
#main-wrapper:after{ content: url(images/mainaft.png); right: 0; top: -28px; }
	
	.maincontents{ width: 620px; float: right; text-align: justify; font-size: 15px; color: #000; line-height: 28px; margin-top: 5px; }
	.maincontents h1{ display: block; font: 25px/16px palatino; color: #236a06; position: relative; margin-bottom: 20px; }
	.maincontents h1 span{ font: 20px open Sans; display: block; color: #000; }
	.maincontents p{ margin: 24px 0; }
	.maincontents ul{ text-align:left; margin-top: 7px; }
	.maincontents ul li{ background:url(images/bullet-icon.png) no-repeat 0 1px; padding: 2px 0px 2px 30px; text-align:left; }
	.maincontents a{ font-weight:bold; color: #3D8304; text-decoration: underline; }
	.maincontents a:hover{ text-decoration: none; }
	
	.maincontents p.contentbottom{ margin-top: 40px; font: italic 18px palatinoI; color: #387e03; }

	.inlineboxes{ text-align: center; }
	.inlineboxes div{ width: 22%; text-align: left; display: inline-block; vertical-align: top; margin: 0 2%; }
	
	.testi-videos{width:400px;height:300px;margin:0 auto; display:block; margin-top:15px; background:#000; }
	.aboutvid { border: 0;width: 377px;height: 189px;margin: 10px auto 0;}

/* sidebar Config */
#sidebar{ width: 316px; display: inline-block; vertical-align: top; }

	.side-box{ padding: 0 11px; text-align: right; }
	.side-box h2{ font-size: 16px; color: #000; padding-right: 10px; }
	.side-box h2 span{ display: inline-block; background: #4f8f00; padding: 0 42px; color: #fff; line-height: 39px; font-family: palatino; font-size: 24px; margin-right: -10px; }
	.side-inner p{ width: 125px; display: inline-block; font-size: 12px; line-height: 22px; color: #000; text-align: left; position: relative; z-index: 9; }
	.side-inner{ position: relative; background: url(images/sidebg.png) no-repeat center top #d3c417; min-height: 342px; padding: 22px 0 0; }
	.side-inner a{ display: block; width: 151px; background: #0155ac; border-radius: 35px; font-size: 14px; color: #fff; text-align: center; line-height: 40px; font-weight: bold; bottom: 35px; position: absolute; right: 25px; }
	.side-inner a:hover{ background: #4f8f00; }
	.side-inner:before{ content: url(images/sideimg.png); left: 0; bottom: -12px; }

	.side-box2{ margin: 12px auto; background: url(images/sidebox2bg.png) no-repeat center top #0055AD; border-radius: 15px; }
	.sidetabs ul li a{ display: block; position: relative; padding-left: 33px; line-height: 54px; font-size: 16px; color: #fff; margin: -1px 0; }
	.sidetabs ul li a span{ font: 30px alex brush; color: #f8eb58; }
	.sidetabs ul li:first-child a{ border-radius: 15px 15px 0 0; }
	.sidetabs ul li:last-child a{ background: url(images/sidebox2be.png) no-repeat; }
	.sidetabs ul li a:hover, .sidetabs ul li.current-menu-item a{ background: url(images/sidetabho.jpg) repeat-x; }
	
	.sidetabs-2 {width:width:308px; margin-top:10px; background: url(images/sidebox2bg.png) no-repeat center top #0055AD; border-radius: 15px;}
	.sidetabs-2 ul li a{ display: block; position: relative; padding-left: 33px; line-height: 52px; font-size: 16px; color: #fff; margin: -1px 0; border-radius: 10px; }
	.sidetabs-2 ul li a span{ font: 30px alex brush; color: #f8eb58; }
	.sidetabs-2 ul li a:hover {     background: url(images/sidetabho.jpg) repeat-x !important; height:52px;}
	
	.contact{ position: relative; padding: 15px 0 15px 33px; background: url(images/sidebox2be.png) no-repeat; }
	.contact:after{ content: url(images/callico.png); right: -14px; top: 78px; }
	.contact h2{ font-size: 16px; font-weight: normal; color: #fff; }
	.contact h2 span{ display: block; font-size: 30px; font-family: palatino; color: #f8eb58; }
	.contact ul{ margin: 7px 0 0; }
	.contact ul li{ display: block; white-space: pre-line; color: #fff; font-size: 13px; line-height: 19px; margin: 7px 0 0; }
	.contact ul li a{ color: #fbee5c; }
	.contact ul li a:hover{ color: #fff; font-weight: normal; text-decoration: underline; }
	.contact ul li:last-child a{ font-weight: bold; }
	.contact ul li:last-child a:hover{ color: #fff; }

/* Footer Area Config */
footer{ height: 160px; background: url(images/footerbg.jpg) repeat-x; border-radius: 15px; }
.footer-inner{ position: relative; padding: 12px 15px 0 42px; }
footer:before{ content: url(images/midbe2.png); left: 7px; top: -25px; z-index: -1; }
footer:after{ content: url(images/midaft2.png); right: 7px; top: -25px; z-index: -1; }
.footer-inner:before{ content: url(images/footerbe.png); left: 0; top: -28px; }
.footer-inner:after{ content: url(images/footeraft.png); right: 0; top: -28px; }

	.service-areas{ width: 281px; display: inline-block; vertical-align: top; position: relative; margin: -5px 0 0 14px; }
	.service-areas:after{ content: url(images/servicemap.png); right: -9px; top: 9px; }
	.service-areas p{ color: #fff; padding-right: 106px; font-size: 14px; line-height: 20px; }
	.service-areas a{ display: block; width: 145px; color: #163900; line-height: 24px; font-size: 14px; position: relative; background: url(images/servicetab.png) no-repeat center top; text-align: center; font-weight: bold; }
	.service-areas a:after{ content: url(images/serviceaft.png); left: 0; bottom: 0; }
	.service-areas a:hover{ color: #fff; background-position: center bottom; }

	.footernav{ width: 316px; float: left; line-height: 18px; }
	.footernav h2{ font-size: 16px; font-weight: normal; color: #fff; margin-bottom: 8px; }
	.footernav div.footermenu{ margin: 0 2px 0 0; display: inline-block; vertical-align: top; }
	.footernav div.footermenuA{ margin-left: 10px; }
	.footernav ul li a{ display: block; position: relative; color: #fff; font-size: 12px; width: 138px; line-height: 15px; padding: 2px 0 3px 13px; border-radius: 5px; background: #231911; margin: 4px 0 0; }
	.footernav ul li a:hover, .footernav ul li.current-menu-item a{ background: #418904; }

	.footerlogo img{ display: block;margin: 0 auto; }
	.copyright{ text-align: center; width: 260px; float: right; font-size: 12px; color: #fff; margin: 22px 0 0; }
	.copyright a{ color: #fff; }
	.copyright a:hover{ text-decoration: underline; }

/* toggle content */
.toggle-question{ width: 100%; padding: 8px 12px 8px 28px; color: #fff; font-weight: bold; background: #0081ff; margin: 5px auto; position: relative; }
.toggle-question:before{ content: "+"; left: 13px; top: 8px; }
.toggle-question.be:before{ content: "-"; }
.toggle-det{ display: none; background: #c2edff; margin: -5px auto; padding: 12px; }

/* search */
.search_results div.page, .search_results div.post{ padding:15px 15px 15px; border:1px solid #E5E5E5; border-bottom:2px solid #C4C4C4; background:#fff; margin:10px 0; color:#000; -ms-border-radius:4px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.1); box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.1); }.search_results h2 a{ text-decoration:none; }.search_results div.entry-meta{ font-style:italic; }.search_results a{ color:#333; }.search_results a:hover{ text-decoration:none; color:#0964BF;}
.page-title span{ display: inline-block !important; }
	
/*resources*/
.resources{font-size:14px;margin-top:20px}.resources a{color:#204886;text-decoration:none;display:block;font-weight:700}.resources a:hover{color:#d12727;text-decoration:none}.resources li,.resources ul{list-style-type:none;margin:0;padding:0}.resources ul li{margin-bottom:8px;padding:12px;background:#fff;border:1px solid #d72525;border-bottom:2px solid #d72525}

/* IE 7 */
.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}.inner-message img{position:relative;left:3em}.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}.terms a{color:#fff;font-weight:700}.lt-ie8 .protect-me{display:none}

/* Author: Control Number 13 */